MONGO_URI=
JWT_SECRET=
PORT=5000
FRONTEND_URL=http://localhost:3000,https://your-frontend.vercel.app
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=a8a68a001@smtp-brevo.com
SMTP_PASS=SDMTVKpd4qE0GtNB
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=ompathare222@gmail.com
